<div *ngIf="detailEvent != null; else detailMessage" class="row">
    <table class="table">
        <thead>
        <tr>
            <th colspan="2" scope="col">Selected event details: (id={{detailEvent.id}})</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="table-dark">Title</th>
            <td><input [(ngModel)]="detailEvent.title" class="w-100" type="text"></td>
        </tr>
        <tr>
            <th class="table-dark">Description</th>
            <td><textarea [(ngModel)]="detailEvent.description" class="w-100"></textarea></td>
        </tr>
        <tr>
            <th class="table-dark">Status</th>
            <td>
                <select [(ngModel)]="detailEvent.status">
                    <option *ngFor="let option of statusOptions" [selected]="option == detailEvent.status">
                        {{option}}
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <th class="table-dark">Is Ticketed</th>
            <td>
                <input [(ngModel)]="detailEvent.isTicketed" type="checkbox">
            </td>
        </tr>
        <tr>
            <th class="table-dark">Participation fee</th>
            <td><input [(ngModel)]="detailEvent.participationFee" type="number"></td>
        </tr>
        <tr>
            <th class="table-dark">Maximum Participation</th>
            <td><input [(ngModel)]="detailEvent.maxParticipants" type="number"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="outputEvent.emit(detailEvent.id)" class="btn btn-danger float-end" type="button">
                    Delete Event
                </button>
            </td>
        </tr>
        </tbody>

    </table>
</div>


<ng-template #detailMessage>
    Select an event at the left
</ng-template>
