<div *ngIf="editedAEventId != -1; else detailMessage" class="row">
    <table class="table">
        <thead>
        <tr>
            <th colspan="2" scope="col">Selected event details: (id={{editableAEvent.id}})</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="table-dark">Title</th>
            <td><input [(ngModel)]="editableAEvent.title" class="w-100" type="text"></td>
        </tr>
        <tr>
            <th class="table-dark">Description</th>
            <td><textarea [(ngModel)]="editableAEvent.description" class="w-100"></textarea></td>
        </tr>
        <tr>
            <th class="table-dark">Status</th>
            <td>
                <select [(ngModel)]="editableAEvent.status">
                    <option *ngFor="let option of statusOptions"
                            [selected]="option == editableAEvent.status">{{option}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class="table-dark">Is Ticketed</th>
            <td>
                <input [(ngModel)]="editableAEvent.isTicketed" type="checkbox">
            </td>
        </tr>
        <tr>
            <th class="table-dark">Participation fee</th>
            <td><input [(ngModel)]="editableAEvent.participationFee" type="number"></td>
        </tr>
        <tr>
            <th class="table-dark">Maximum Participation</th>
            <td><input [(ngModel)]="editableAEvent.maxParticipants" type="number"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="cancel()" class="btn btn-secondary float-end m-1" type="button">
                    Cancel
                </button>

                <button (click)="reset()" class="btn btn-secondary float-end m-1" type="button">
                    Reset
                </button>

                <button (click)="clearAEvent()" class="btn btn-secondary float-end m-1" type="button">
                    Clear
                </button>

                <button (click)="saveAEvent()" class="btn btn-secondary float-end m-1" type="button">
                    Save
                </button>

                <button (click)="deleteAEvent(editableAEvent.id)" class="btn btn-danger float-end m-1" type="button">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>

    </table>
</div>


<ng-template #detailMessage>
    Select an event at the left
</ng-template>
