<div class="row">
    <div class="col-md-4 m-auto">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input [(ngModel)]="email" aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1"
                   placeholder="Enter email"
                   type="email">
            <small class="form-text text-muted" id="emailHelp">We'll never share your email with anyone else.
            </small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input [(ngModel)]="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                   type="password">
        </div>

        <button (click)="signIn(email, password)" class="btn btn-primary" type="submit">Login</button>
    </div>
</div>
