<div class="row">
    <div class="col-md-3">
        <h2 class="h6 pt-4 pb-3 mb-4 border-bottom">Overview of all events:</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Event title</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let event of aEvents">
                <td (click)="selectAEvent(event)">{{event.title}}</td>
            </tr>
            <tr>
                <td colspan="8">
                    <button type="button" class="btn btn-primary float-end" (click)="addRandomAEvent()">Add Event
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-9">
        <aside class="bd-aside sticky-xl-top align-self-start mb-3 mb-xl-5 px-2">
            <h2 class="h6 pt-4 pb-3 mb-4 border-bottom">Detail information:</h2>
            <app-detail-two [detailEvent]="selectedAEvent"></app-detail-two>
        </aside>
    </div>
</div>
